.slider {
	h2 {
		margin-top: 0px;
		padding-top: 0px;
		text-align: center;
	}
	.video {
		margin-left: 5%;
	}
	p {
		text-align: center;
		z-index: 100;
	}
	.cta {
		z-index: 100;
	}
}
.tth-slider.slick-initialized.slick-slider {
	position: relative;
	z-index: 1000;
}
@media screen and (max-width: 1220px) {
	.theme-2 .slider {
		.video {
			margin-left: 0%;
			margin-top: 10px;
		}
	}
}
@media screen and (max-width: 940px) {
	.theme-1 .slider {
		.video {
			margin-top: 10px;
			margin-left: 0%;
		}
	}
}
@media screen and (max-width: 850px) {
	.theme-1 .slider {
		width: 100% !important;
				
		.video {
			margin-left: 20px;
		}
	}
	.theme-2 .slider {
		width: 100% !important;
		margin-right: 0% !important;
		
		.video {
			margin-left: 20px;
		}
	}
}
@media screen and (max-width: 630px) {
	.theme-2 .slider {
		.video {
			margin-left: 0%;
			margin-top: 10px;
		}
	}
}
@media screen and (max-width: 479px) {
	.theme-1 .slider {
		.video {
			margin-left: 0%;
		}
	}
}