// Typography
$body-font-family-theme-1:        'Raleway', sans-serif;
$heading-font-family-theme-1:     'Lusitana', sans-serif;
$body-font-family-theme-2:        'Source Sans Pro', sans-serif;
$heading-font-family-theme-2:     'Bitter', sans-serif;
$body-font-size:            	   18px;
$heading-font-size:         	   30px;


// Base Colors
$red:               	#8b3035;
$burgundy: 				#a52f3a;
$orange: 				#c17134;
$yellow: 				#eadac3;
$blue-theme-1: 			#1f8fb2;
$blue-theme-2: 			#076da5;
$gray-theme-1: 			#828282;
$gray-theme-2: 		    #5b5b5b;
$dark-gray: 			#303030;
$light-gray-theme-1: 	#f7f7f7;
$light-gray-theme-2: 	#ededed;
$white: 				#ffffff;


// Site Colors
$body-text-color:   		$dark-gray;
$body-link-color-theme-1:   #a54a53;
$body-link-color-theme-2:   $blue-theme-2;


// Extras
$news-block-width: 33%